.finderContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 10px;
}

.finderGrid {
  display: grid;
  grid-template-columns: repeat(var(--cols, 2), 1fr);
  gap: 20px;
  align-items: center;
  padding: 8px 15px;
}

.finderHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--finder-border);
  font-weight: 600;
  color: var(--finder-text);
  font-size: 13px;
}

.finderHeaderColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.finderBody {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-top: 5px;
}

.finderItem {
  position: relative;
  background-color: var(--finder-bg);
  border-radius: 15px;
  font-size: 14px;
  transition: background-color 0.2s;
  
}

.finderItem:nth-child(even) {
  background-color: var(--finder-hover);
}

.clickable:hover {
  background-color: var(--finder-active);
  cursor: pointer;
}

.finderItemChevron {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--finder-text-light);
  transition: transform 0.2s;
}

.clickable:hover .finderItemChevron {
  transform: translateY(-50%) translateX(3px);
}

.finderItemName {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: var(--finder-text);
}

.finderItemIcon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.finderItemDescription {
  color: var(--finder-text);
}

.finderItemDuration {
  color: var(--finder-text);
  font-weight: 400;
}

.finderSideBar {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.finderSideBarFavoriteTitle {
  font-size: 13px;
  font-weight: 600;
  color: var(--finder-text-light);
}

.finderSideBarFavoriteItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.finderSideBarItem {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 8px;
  color: var(--finder-text);
}

.finderSideBarItem.active {
  background-color: var(--finder-icon-bg);
}

.finderSideBarIcon {
  height: 25px;
  width: 25px;
  margin-right: 8px;
  color: var(--finder-accent);
}     

.finderSideBarText {
  font-size: 13px;
}

.finderSideBarText.active {
  font-weight: 600;
}
