
.finderWindowLoaderContainer {
  display: flex;
  flex-direction: column;

}

.finderWindowLoaderImage {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.finderWindowLoaderTextContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.finderWindowLoaderTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.finderWindowLoaderText {
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-line;
}